<script>
  import { onMount } from "svelte"
  import { ethereum } from "../stores"
  import Welcome from "./Welcome.svelte"
  import WalletConnect from "./WalletConnect.svelte"
  import POAP from "./POAP.svelte"
  import Claim from "./Claim.svelte"
  import Head from "./Head.svelte"
  import Fund from "./Fund.svelte"
  import Play from "./Play.svelte"
  import HigherAmount from "./HigherAmount.svelte"
  import Footer from "./Footer.svelte"

  export let contractAddress
  export let chainName
  export let chainId
  export let eventId

  let available = false

  onMount(() => {
    available = typeof window.ethereum !== "undefined"
  })

  let tokenId
</script>

<main>
  <Welcome {contractAddress} {chainName} {eventId} />
  {#if available}
    <WalletConnect {chainName} {chainId} />
    {#if $ethereum.connected && $ethereum.chainId === chainId}
      <POAP {eventId} bind:tokenId={tokenId} />
      {#if tokenId}
        <Claim {tokenId} {contractAddress} {chainId} />
      {/if}
      <Head {contractAddress} {chainId} />
      <Fund {contractAddress} {chainId} />
      <Play {contractAddress} {chainId} />
      <HigherAmount {contractAddress} {chainId} />
    {/if}
  {:else}
    <p>
      Navegador no compatible con la <strong>Web3</strong>. Prueba con
      <a href="https://metamask.io">
        <img id="metamask" src="https://metamask.io/images/mm-logo.svg" alt="MetaMask" />
      </a>.
    </p>
    <hr>
  {/if}
  <div id="divisor"></div>
  <Footer />
</main>

<style>
  :global(body) {
    margin: 0;
    line-height: 1.5;
    background-color: lightgoldenrodyellow;
  }
  :global(code) {
    border: 1px dotted lightgray;
  }
  :global(pre) {
    overflow: auto;
    padding: 1rem;
  }
  :global(hr) {
    border-width: 0;
    border-bottom: 1px dotted lightgray;
    clear: right;
  }
  main {
    padding: 0 1rem;
    min-height: 100vh;
    max-width: 45rem;
    margin: 0 auto;
    border-left: 1px dotted lightgray;
    border-right: 1px dotted lightgray;
  }
  img#metamask {
    height: 1rem;
  }
  div#divisor {
    height: 600px;
  }
</style>
