<script>
  import { TKG } from "../interfaces"
  import { ethereum } from "../stores"

  export let tokenId
  export let contractAddress
  export let chainId

  let claimed = false
  let canClaim = true
  let errCode
  let errMessage

  function claim() {
    if (claimed) {
      return
    }

    const data = TKG.encodeFunctionData("claim", [ tokenId ])

    const transaction = {
      to: contractAddress,
      from: $ethereum.account,
      data,
      chainId
    }

    $ethereum.provider.request({
      method: "eth_sendTransaction",
      params: [ transaction ]
    }).then(() => {
      claimed = true
      canClaim = false
    }).catch(err => {
      canClaim = false
      errCode = err.code
      if (errCode === -32603) {
        errMessage = err.message
      }
    })
  }
</script>

<p>
  Como te dec&iacute;a, con ese <em>token</em> (el
  {#if canClaim}
    <input type="text" placeholder="POAP" value={tokenId} />
  {:else}
    <code>{tokenId}</code>
  {/if}
  ) pod&eacute;s
  {#if canClaim}
    <button on:click={claim}>reclamar</button>
  {:else}
    reclamar
  {/if}
  al contrato un <em>finney</em> de
  su moneda, o sea <code>0.001 TKG</code>.

  {#if claimed}
    Los cuales no exist&iacute;an, el contrato los <em>minte&oacute;</em> en el
    momento que los reclamaste. As&iacute; <strong>nueva guita</strong>
    entr&oacute; en circulaci&oacute;n.
  {:else}
    Los cuales no existen, el contrato los va a hacer <em>mint</em> en el
    momento que los reclames. As&iacute; <strong>nueva guita</strong>
    entrar&aacute; en circulaci&oacute;n.
  {/if}
</p>

{#if !claimed && !canClaim}
  {#if errCode === 4001}
    <p>
      Bueno, si cancel&aacute;s no tendr&aacute;s nada.
    </p>
  {:else}
    <p>
      Pero parece que tuvimos un error, de c&aacute;lculo o de c&oacute;digo, ya
      que el contrato protesta en lenguaje cr&iacute;ptico.
    </p>
  {/if}
  {#if errMessage}
    <p>
      <details>
        <summary>No me asusto, mensaje de error</summary>
        <pre>{errMessage}</pre>
      </details>
    </p>
  {/if}
{/if}

<hr>

<style>
  input {
    width: 4rem;
    text-align: right;
  }
</style>
