<address>
  Hecho por <a href="http://jm.guide42.com">Juan M</a> bajo licencia
  <a href="https://gitlab.com/guide42/tkg/-/blob/master/COPYING">ISC</a>.
</address>

<style>
  address {
    font-size: 0.6rem;
    margin-bottom: 2rem;
  }
</style>
