<script>
  import { parseEther } from "ethers/lib.esm/utils"
  import { TKG } from "../interfaces"
  import { ethereum } from "../stores"

  export let contractAddress
  export let chainId

  let amount = 0.0000000001
  let funded = 0
  let fundedAt

  let errMessage

  function fund() {
    const data = TKG.encodeFunctionData("fund", [
      parseEther(String(amount * 1000000000000000000))
    ])

    const transaction = {
      to: contractAddress,
      from: $ethereum.account,
      data,
      chainId
    }

    $ethereum.provider.request({
      method: "eth_sendTransaction",
      params: [ transaction ]
    }).then(() => {
      funded += amount
      fundedAt = new Date()
    }).catch(err => {
      if (err.code === -32603) {
        errMessage = err.message
      }
    })
  }
</script>

<p>
  Luego, uno, con sus <code>TKG</code> reclamados, puede invertir en quien es
  la cabeza. Es como hacer una transferencia y adem&aacute;s quedas registrado
  como inversor. A esta operaci&oacute;n la llamamos <em>fund</em>.
</p>

{#if fundedAt && funded > 0}
  <p>
    Ya llev&aacute;s invertido <code>{funded} TKG</code>.
  </p>

{/if}

<p>
  <button on:click={fund}>Invert&iacute;</button>
  <input type="number" bind:value={amount} step="0.0000000001" /> <code>TKG</code> en
  la cabeza.
</p>

{#if errMessage}
  <p>
    <details>
      <summary>No me asusto, mensaje de error</summary>
      <pre>{errMessage}</pre>
    </details>
  </p>
{/if}

<hr>
