<script>
  import { formatEther } from "ethers/lib.esm/utils"
  import { TKG } from "../interfaces"
  import { ethereum } from "../stores"

  export let contractAddress
  export let chainId

  let headAddress
  let headQueriedAt
  let headBalance

  let errMessage

  function getHead() {
    const data = TKG.encodeFunctionData("head")

    const transaction = {
      to: contractAddress,
      from: $ethereum.account,
      data,
      chainId
    }

    $ethereum.provider.request({
      method: "eth_call",
      params: [ transaction ]
    }).then(result => {
      headAddress = TKG.decodeFunctionResult("head", result)[0]
      headQueriedAt = new Date()
    }).catch(err => {
      if (err.code === -32603) {
        errMessage = err.message
      }
    })
  }

  function getHeadBalance() {
    if (!headAddress) {
      return
    }

    const data = TKG.encodeFunctionData("balanceOf", [ headAddress ])

    const transaction = {
      to: contractAddress,
      from: $ethereum.account,
      data,
      chainId
    }

    $ethereum.provider.request({
      method: "eth_call",
      params: [ transaction ]
    }).then(result => {
      headBalance = TKG.decodeFunctionResult("balanceOf", result)[0]
    }).catch(err => {
      if (err.code === -32603) {
        errMessage = err.message
      }
    })
  }
</script>

<p>
  En este juego hay un <em>address</em> que es la cabeza, contra quien todos
  los dem&aacute;s juegan contra. Al principio, esta tendr&aacute; toda la
  circulaci&oacute;n de la moneda. Y puedes apostarle lo que quieras!
</p>

<p>
  Si te pregunt&aacute;s
  <button on:click={getHead}>&iquest;Qu&iacute;en es "cabeza" ahora?</button>
  {#if headAddress}
    o si quer&eacute;s saber
    <button on:click={getHeadBalance}>cuantos</button> <code>TKG</code> tiene
  {/if}
  , basta con preguntarle al contrato.
</p>

{#if headAddress && headQueriedAt}
  <p>
    Se sabe que a las {headQueriedAt.toLocaleTimeString("es-AR", {
      hour: "2-digit",
      minute: "2-digit"
    })} la cabeza era <code>{headAddress}</code>
    {#if headBalance}
      y ten&iacute;a hasta el momento <code>{formatEther(headBalance)} TKG</code>
    {/if}
    .
  </p>
{/if}

{#if errMessage}
  <p>
    <details>
      <summary>No me asusto, mensaje de error</summary>
      <pre>{errMessage}</pre>
    </details>
  </p>
{/if}

<hr>
