<script>
  import { formatEther } from "ethers/lib.esm/utils"
  import { TKG } from "../interfaces"
  import { ethereum } from "../stores"

  export let contractAddress
  export let chainId

  let higherAmount
  let higherAmountQueriedAt

  let errMessage

  function getHigherAmount() {
    const data = TKG.encodeFunctionData("higherAmount")

    const transaction = {
      to: contractAddress,
      from: $ethereum.account,
      data,
      chainId
    }

    $ethereum.provider.request({
      method: "eth_call",
      params: [ transaction ]
    }).then(result => {
      higherAmount = TKG.decodeFunctionResult("higherAmount", result)[0]
      higherAmountQueriedAt = new Date()
    }).catch(err => {
      if (err.code === -32603) {
        errMessage = err.message
      }
    })
  }
</script>

<p>
  Por &uacute;ltimo te pod&eacute;s preguntar cuanto es ese
  <button on:click={getHigherAmount}>higher amount</button> que hay que
  superar, o sea, el m&iacute;nimo necesario apostar.
</p>

{#if higherAmountQueriedAt && higherAmount > 0}
  <p>
    Bueno, la &uacute;ltima vez que preguntaste era de
    <code>{formatEther(higherAmount)} TKG</code>.
  </p>
{/if}

{#if errMessage}
  <p>
    <details>
      <summary>No me asusto, mensaje de error</summary>
      <pre>{errMessage}</pre>
    </details>
  </p>
{/if}

<hr>
