<script>
  import { parseEther } from "ethers/lib.esm/utils"
  import { TKG } from "../interfaces"
  import { ethereum } from "../stores"

  export let contractAddress
  export let chainId

  let amount = 0.000000000123456789
  let playedAt

  let errMessage

  function play() {
    const data = TKG.encodeFunctionData("play", [
      parseEther(String(amount * 1000000000000000000))
    ])

    const transaction = {
      to: contractAddress,
      from: $ethereum.account,
      data,
      chainId
    }

    $ethereum.provider.request({
      method: "eth_sendTransaction",
      params: [ transaction ]
    }).then(() => {
      playedAt = new Date()
    }).catch(err => {
      if (err.code === -32603) {
        errMessage = err.message
      }
    })
  }
</script>

<p>
  Seguido y finalmente, para jugar el dinero invertido, vas a tener que
  arriesgarte a perder un valor en <code>TKG</code> &mdash;mayor a la
  &uacute;ltima apuesta&mdash; y si los dos &uacute;ltimos decimales coinciden
  con los dos &uacute;ltimos del n&uacute;mero de bloque, entonces ser&aacute;s
  la nueva cabeza, recibir&aacute;s de la antigua cabeza la suma ariesgada y
  todo aquello que fuiste invirtiendo en la cabeza se crearan en tu cuenta
  &mdash;con la <strong>m&aacute;quinita de hacer dinero</strong>.
</p>

<p>
  <button on:click={play}>Jugar</button> y apostar
  <input type="number" bind:value={amount} step="0.0000000001" />
  <code>TKG</code>!
</p>

{#if playedAt}
  <p>
    Tu &uacute;ltima jugada fue a las {playedAt.toLocaleTimeString("es-AR", {
      hour: "2-digit",
      minute: "2-digit"
    })}.
  </p>
{/if}

<p>
  Mir&aacute; que si perd&eacute;s, lo que apuestes va a la cabeza.
</p>

{#if playedAt}
  <p>
    Igual tu inversi&oacute;n sigue ah&iacute; y seguir&aacute; a&uacute;n cuando
    la cabeza cambie y hasta que logr&eacute;s ganar el juego.
  </p>
{/if}

{#if errMessage}
  <p>
    <details>
      <summary>No me asusto, mensaje de error</summary>
      <pre>{errMessage}</pre>
    </details>
  </p>
{/if}

<hr>
