<script>
  import { ethereum } from "../stores"

  export let eventId
  export let tokenId = undefined

  let power

  async function findPoapTokenId(eventId, address) {
    const res = await fetch(`https://api.poap.xyz/actions/scan/${address}`)
    const all = await res.json()

    if (Array.isArray(all)) {
      power = all.length
      for (let i = 0; i < all.length; i++) {
        if (all[i].event.id == eventId) {
          tokenId = all[i].tokenId
          return tokenId
        }
      }
    }

    throw new Error("POAP not found")
  }
</script>

{#await findPoapTokenId(eventId, $ethereum.account)}
  <p>
    &iquest;Sab&iacute;as que cada
    <abbr title="Proof of Attendance Token">POAP</abbr> es &uacute;nico?
  </p>
{:then tokenId}
  <p>
    &iquest;Sab&iacute;as que cada
    <abbr title="Proof of Attendance Token">POAP</abbr> es &uacute;nico?
    Justamente, cuando participaste de la clase de Ethereum con
    <strong>Mart&iacute;n Triay</strong> te dieron el <em>token</em>
    n&uacute;mero <code>{tokenId}</code>.
    {#if power > 9 && power < 25}
      Como se ve que ya sab&eacute;s de esto, ten&eacute;s
      <code>{power}</code> de <em>power</em>. Segu&iacute; as&iacute;!
    {:else if power < 9}
      <a href="https://app.poap.xyz/token/{tokenId}">Ese</a> no lo tiene nadie
      m&aacute;s que vos. Otros que participaron en la clase tendr&aacute;n
      uno parecido, pero <em>parecido no es lo mismo</em>. Por ejemplo, el
      <a href="https://app.poap.xyz/token/607748">m&iacute;o</a> es el
      n&uacute;mero <code>607748</code>.
    {/if}
  </p>
  {#if power > 25}
    <p>
      Ven&iacute;s muy bien coleccionandolos. Toda una historia de vida
      plasmada en esos <code>{power}</code> eventos asistidos.
    </p>
  {/if}
{:catch err}
  {#if err.message === "POAP not found"}
    <p>
      Mir&aacute;, parece que no ten&eacute;s el
      <abbr title="Proof of Attendance Token">POAP</abbr> del evento,
      as&iacute; que no s&eacute; como vas a participar.
    </p>
    {#if power > 25}
      <p>
        Se ve que est&aacute;s coleccionando una buena cantidad
        (<code>{power}</code> seg&uacute;n mis c&aacute;lculos.)
      </p>
    {/if}
  {:else}
    <p class="error">
      Ocurri&oacute; un error grave: <code>{err.message}</code>
    </p>
  {/if}
{/await}

<hr>

<style>
  p.error {
    font-style: italic;
    font-size: 0.84rem;
    color: darkred;
    border-bottom: 1px solid darkred;
  }
</style>
