<script>
  import { onMount } from "svelte"
  import { ethereum } from "../stores"

  export let chainName
  export let chainId

  onMount(() => {
    ethereum.listen()
  })
</script>

{#if $ethereum.chainId !== chainId && $ethereum.chainId !== "0x0"}
  <p class="warn">
    Recuerda que este contrato corre en <code>{chainName}</code>, as&iacute; que
    no olvides cambiar de red en tu <em>wallet</em>.
  </p>
{/if}

{#if $ethereum.connected}
  <p>
    Tu cuenta <code>{$ethereum.account}</code> est&aacute; conectada.
    Pod&eacute;s <button on:click={ethereum.disconnect}>desconectarla</button>
    cuando quieras.
  </p>
{:else}
  <p>
    Primero,
    <button on:click={ethereum.connect}>conect&aacute; tu billetera</button>
    para identificar tu direcci&oacute;n.
  </p>
{/if}

<hr>

<style>
  p.warn {
    max-width: 10rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 0.84rem;
    color: darkred;
    border: 1px dotted darkred;
    float: right;
  }
</style>
