<script>
  import { Gitlab, Ethereum, Discord } from '@icons-pack/svelte-simple-icons'

  export let contractAddress
  export let chainName
  export let eventId

  $: etherscanDomain = chainName === "mainnet"
    ? "etherscan.io"
    : `${chainName}.etherscan.io`
</script>

<h1>Bienvenidxs a Token Hackaton Guita</h1>

<img id="poap" alt="CS ITBA-OpenZeppelin: Intro a Ethereum Development"
  src="https://storage.googleapis.com/poapmedia/cs-itba-openzeppelin-intro-a-ethereum-development-i-2021-logo-1627065090350.png">

<p>
  <abbr title="Token Hackaton Guita">TKG</abbr> es un contrato inteligente
  que implementa un <em>token</em> siguiendo el estandar ERC-20 en una red de
  Ethereum, actualmente corriendo en <code>{chainName}</code> en la
  direcci&oacute;n <code>{contractAddress}</code>.
</p>

<p>
  Adem&aacute;s propone un juego para los participantes del curso
  <strong>CS ITBA-OpenZeppelin: Intro a Ethereum Development</strong> que
  obtuvieron el <abbr title="Proof of Attendance Token">POAP</abbr> del evento
  n&uacute;mero <code>{eventId}</code>.
</p>

<p>
  <a class="icon" href="https://gitlab.com/guide42/tkg">
    <Gitlab title="C&oacute;digo fuente" color="darkgray" />
  </a>
  <a class="icon" href="https://{etherscanDomain}/token/{contractAddress}">
    <Ethereum title="Contrato" color="darkgray" />
  </a>
  <a class="icon" href="https://discord.gg/X3qbGgXPR9">
    <Discord title="Conversatorio" color="darkgray" />
  </a>
  <a class="icon" href="https://poap.gallery/event/{eventId}">
    <img src="https://poap.xyz/POAP.f74a7300.svg" alt="POAP" width="24" height="24" />
  </a>
</p>

<hr>

<style>
  img#poap {
    width: 15rem;
    height: 15rem;
    float: right;
    border: 1px dotted lightgray;
    margin-left: 1rem;
  }
  a.icon {
    border: 1px dotted lightgray;
    padding: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
  }
  a.icon:hover {
    background-color: lightgray;
    border-color: gray;
  }
</style>
